.sign-in {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reddit-button {
  background-color: #ff4500;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: 800;
  padding: 20px;
}

.navbar {
  display: flex;
  width: 100vh;
  list-style-type: none;
}

.navbar li a {
  padding: 10px;
  font-size: larger;
  width: 150px;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
